# --- 核心數據處理 ---
pandas
numpy

# --- 機器學習模型  ---
scikit-learn
xgboost

# --- 可解釋性 AI (XAI) ---
shap
matplotlib
seaborn

# --- 網頁應用 ---
streamlit

# --- NLP 進階模組 ---
# 用來把遊戲簡介轉成向量
sentence-transformers
torch

# --- 爬蟲：SteamDB Wishlist 用 ---
selenium
undetected-chromedriver

# --- 其他（避免環境問題） ---
tqdm
requests

